.button-bar
  padding 10px

.button
  padding 8px
  margin 0 5px

  &:hover
    text-decoration none

  text-transform uppercase

.bird
  height 19px
  width 27px
  display inline-block
  position relative
  top 3px
